{
    "method":"GET",
    "endpoint":"/api/v4/users/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[
        "id_lang"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "cache":false,
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[
        "id",
        "page",
        "limit",
        "name",
        "email",
        "nameORemail"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
       "github.com/devopsfaith/krakend-jose/validator":{
       "alg":"RS256",
       "jwk-url":"http://users-app:8080/v2/jwk",
       "disable_jwk_security":true
        }
    }
},
{
    "method":"POST",
    "endpoint":"/api/v4/users",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PUT",
    "endpoint":"/api/v4/users/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PATCH",
    "endpoint":"/api/v4/users/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"DELETE",
    "endpoint":"/api/v4/users/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PATCH",
    "endpoint":"/api/v4/users-update/password",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-update/password",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PATCH",
    "endpoint":"/api/v4/users-update/user-password",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-update/password",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PATCH",
    "endpoint":"/api/v4/users-update/status",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-update/status",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users-permissions",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[
        "name",
        "email",
        "id",
        "status",
        "profile_lang"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-permissions",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users-permissions/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-permissions/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"POST",
    "endpoint":"/api/v4/users-permissions/attach/{idUser}/{idPermission}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-permissions/attach/{idUser}/{idPermission}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users-roles",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[
        "name",
        "email",
        "id",
        "status",
        "profile_lang"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-roles",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users-roles/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-roles/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"POST",
    "endpoint":"/api/v4/users-roles/attach/{idUser}/{idRole}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-roles/attach/{idUser}/{idRole}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users-groups",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[
        "name",
        "email",
        "id",
        "status",
        "profile_lang"
    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-groups",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"GET",
    "endpoint":"/api/v4/users-groups/{id}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-groups/{id}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"POST",
    "endpoint":"/api/v4/users-groups/attach/{idUser}/{idGroup}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-groups/attach/{idUser}/{idGroup}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PUT",
    "endpoint":"/api/v4/users-roles/set-roles/{idUser}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-roles/set-roles/{idUser}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PUT",
    "endpoint":"/api/v4/users-groups/set-groups/{idUser}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-groups/set-groups/{idUser}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
},
{
    "method":"PUT",
    "endpoint":"/api/v4/users-permissions/set-permissions/{idUser}",
    "headers_to_pass":[
        "Accept",
        "Content-Type",
        "X-Tenant",
        "X-User-Id",
        "X-Correlation-Id",
        "X-Lang",
        "Authorization"
    ],
    "querystring_params":[

    ],
    "backend":[
        {
        "host":"http://users-app:8080",
        "url_pattern":"/api/v4/users-permissions/set-permissions/{idUser}",
        "encoding":"no-op"
        }
    ],
    "output_encoding":"no-op",
    "extra_config":{
        "github.com/devopsfaith/krakend-jose/validator":{
        "alg":"RS256",
        "jwk-url":"http://users-app:8080/v2/jwk",
        "disable_jwk_security":true
        }
    }
}
